/* ============================
    Main Page Styles
=============================== */

    /* check out toptal color blind filter */

html {
    background-color: #618685;

}

.header-container {
    background-color: #d5f4e6;

}

header {
    text-align: center;

}

a:link {
    text-decoration: none;

}

li a:link,
li a:visited {
    color: white;

}

li a:hover {
    color: #fefbd8

}

p a:link,
p a:visited {
    color: #618685;

}

p a:hover {
    color: #fefbd8;

}


.flex-item {
    background-color: #618685;
    padding-top: 5px;
    padding-bottom: 5px;

}

.main-nav {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


li {
    margin: 10px;

}


#intrographic {
    width: 187.5px;
    height: 192px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* #book {
    height: 298px;
    width: 208px;

}  

#treehouse {
    height: 120px;
    width: 300px;

}           This works on a computer  */


.header-container {
    font-family: 'Courier New', Courier, monospace;

}



.body-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #80ced6;


}

h2 {
    text-align: center;

}


.content {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10px;

}

.jsanswer {
    text-align: center;
    margin-top: 5px;

}

#gif-reaction {
    display: flex;
    justify-content: center;

}



/* ========================
    Footer
=========================== */

.footer-container {
    background-color: #d5f4e6

}

footer {
    text-align: center;
    padding-bottom: 10px;

}