/* -------- Main Page Styles -------- */

.header-container {
    background-color: orange;

}

header {
    text-align: center;

}

.main-title {
    border: 5px solid yellow;

}

.flex-item {
    border: 5px solid green;

}

h2 {
    border: 5px solid white;

}

p {
    border: 5px solid black;

}

.image {
    border: 5px solid purple;

}


.body-container {
    background-color: blue;

}


.header-container {
    font-family: 'Courier New', Courier, monospace;

}



.body-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}






/* -------- Footer -------- */

.footer-container {
    background-color: red;

}

footer {
    text-align: center;

}
