/* -------- Main Page Formatting -------- */

* {
    box-sizing: border-box;

}


.header-container {
    display: flex;
    margin-bottom: auto;
    flex-direction: column;

}







/* -------- Flexbox -------- */

.header-container, .main-nav {
    display: flex;
    flex-direction: column;

}




/* -------- Media Queries -------- */

/* --- Mobile Landscape --- */
@media screen and (orientation: landscape) {
    .media2, .media4 {
        width: 50%;
    }

}

/* --- iPad Normal --- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .flex-item {
        width: 25%;
        display: inline-block;

    }




/* --- Computer --- */
@media screen and (min-width: 1025px) {


    .media3, .media4, .media5, .media6 {
        width: 50%;
    }

    .flex-item {
        width: 25%;
        display: inline-block;

    }

}





/* -------- Sticky Footer -------- */

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.footer-container {
    margin-top: auto;

}


