/* -------- Main Page Formatting -------- */

* {
    box-sizing: border-box;

}

nav a {
    display: block;
    text-align: right;

}


.header-container {
    display: inline-block;

}

.col-1 {
    justify-content: auto;

}


.main-nav {
    display: flex;

}


/* -------- Media Queries -------- */



.col-1 {
    float: left;

}

nav {
    float: right;

}



/* -------- Sticky Footer -------- */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


.main-footer {
    margin-top: auto;

}