/* -------- Main Page Formatting -------- */

* {
    box-sizing: border-box;

}




.header-container {
    display: inline-flex;

}

.item-1 {
    justify-content: auto;

}




/* -------- Media Queries -------- */



.col-1 {
    float: left;

}

nav {
    float: right;

}



/* -------- Sticky Footer -------- */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


.main-footer {
    margin-top: auto;

}
